<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Github Profiles</title>

        <script src="/api/views/index.js"></script>
    </head>
    <body>
        <div id="search-page">
            <div id="container">
                    <input type="text" name="username" placeholder="insert a github username...">
                    <button onclick="searchUser()">
                        Search
                    </button>
                </form>
            </div>
        </div>
        
    </body>
</html>